<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Student Grades</title>
  <link rel="stylesheet" href="/style.css">
  <script src="/script.js" defer></script>
</head>
<body>
  <h1>Talented Squad Grade Tracker</h1>

  <div class="card-container">
    <% for(let i = 0; i < students.length; i++){ %>
      <div class="card">
        <img src="<%= students[i].image %>" alt="Profile Picture">
        <h2><%= students[i].name %></h2>
        <p>Grade: <%= students[i].grade %></p>

        <div class="button-wrapper">
              <div class="card">
                <form onsubmit="updateStudent(event, '<%= students[i]._id %>')">
                  <input name="name" value="<%= students[i].name %>" />
                  <input name="image"  value="<%= students[i].image %>" />
                  <input name="grade" type="number" max="100" min="0" value="<%= students[i].grade %>" />

                  <button type="submit">Update</button>
                </form>
              </div>

              <button onclick="deleteStudent('<%= students[i]._id %>')">Delete</button>
           
        </div>

      </div>
    <% } %>
  </div>

</body>
</html>
